@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
}

 .promo {
    background: url(../bg/bgc.jpg) 50% / cover no-repeat;
     min-height: 875px;
    }



nav .menu {
    width: 100%;
    list-style: none;
     font-family: Montserrat sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-top: 55px;
    
    }
   
    nav .menu a {
        color: #fff;
    }

nav .menu .menu-item {
    display: block;
    border: 1px solid #fff;
    padding: 13px 0;
}


.top-menu {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    font-family: Montserrat sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
}
.top-menu a, .adress {
    color: #fff;
}

.promo-button {
    display: flex;
    justify-content: center;
    margin-top: 530px;
}
.promo-btn {
    display:flex;
    justify-content: center;
    margin: 15px;
    width: 203px;
    height: 50px;
    padding: 15px 30px;
    align-items: center;
    background: #99862A;
    border:none;
    color:#fff;
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    
    letter-spacing: 0.05em;
   
    

    
}
.presentation {
    background: #282828;
    padding: 100px 0 100px 0;
}
.descr {
    margin: auto;
   
    border: 2px solid #fff;
   

}
.divider {
    margin: 0 auto;
    margin-top: 40px;
    width: 160px;
    height: 1px;
    background-color: #fff;
}
.descr-header {
    text-align: center;
    margin-top: 60px;
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;  
    color:#fff;
}
.descr-content {
    margin-top: 40px;
    padding: 0 100px; 
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color:#fff;



}
.descr img {
    display: block;
    padding: 50px 0 60px 0;
    margin: auto;
}

.new_collection {
    width: 100%;
    background: #E6E3C4;
    padding: 80px 0;
}


.new_collection_divider {
    width:160px ;
    height:2px ;
     background-color:#282828;
     margin-top: 30px;

}
.new_collection_descr {
    padding: 30px 0;
}
.new_collection_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 254px;
    height: 50px;
    background-color:  #998431;
    font-family: Montserrat sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    padding: 15px 30px;
    color: #FFF;
   
  
   
}

.new_collection h2{
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
}

.new_collection p {
    font-family: Montserrat sans-serif;
}
.new_collection img {
    width: 100%;
}
.divider_top {
    width: 1110px;
    border: 1px solid #998431;
    margin: auto;
    margin-bottom: 60px;
    

}
.divider_bottom {
    width: 1110px;
    border: 1px solid #998431;
    margin: auto;
    margin-top: 60px;
    

}


.degustation {
    background: #282828;
    padding: 130px 0 100px 0;

}
.registration {
    border: 2px solid #fff;
   
}
.registration_header {
    width: 490px;
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin: -25px auto 0;
    background-color: #282828;

}
.registration_descr {
    color: #fff;
  padding: 40px 100px;
    text-align: center;

}
.registration .form {
    display: flex;
   justify-content: center;

}
.registration .form input {
    width: 255px;
    height: 30px;
    background: #282828;
    color: #fff;
    
    border-bottom: 1px solid #fff;
    
}
/* .registration .form input:first-child {
    margin-right: 28px;
} */
.registration .form .form-adress  {
    display: block;
    width: 95%;
    height: 30px;
   
   
}

.registration_btn {
    display: block;
    width: 50%;
    height: 50px;
    margin:50px auto 80px;
    padding: 15px 30px;
    border: 1px solid #FFFFFF;
    background-color: #282828;
    color: #fff;
    text-transform: uppercase;
  
}



@media (max-width:1400px) {
  
    .top-menu a, .adress, .menu-item  {
        font-size: 13px;
    }
 .menu-item{
     padding: 13px 0;
 }
 nav .menu .menu-item:first-child {
    border-left: none;
}
nav .menu .menu-item:last-child {
    border-right: none;
}
.registration .form .form-adress {
    margin: 40px auto 0;
}

    }


    @media  (max-width:990px) {
        .new_collection_btn {
            display: block;
            margin: 0 auto 50px;

        } 
        .registration .form .form-adress {
            margin: 40px auto 0;
        }
    }

    @media  (max-width:767px){
        nav .menu .menu-item {
            font-size: 20px;
            border:none;
        }
        .descr-content {
            padding: 0 20px;
        }
        .form input {
           
           display: block;
           margin-top: 20px;
        }
        .form-adress {
            margin: auto;
        }
        .form br {
            display: none;
        }
    }

    @media (max-width:575px) {
        h2 {
            font-size: 30px;
        } 
        .promo {
            height: 100vh;
        }
        .registration_header {
            width: 80%;
            font-size: 24px;
        }
        .descr-content {
            padding: 0 20px;
        }
        .registration_descr {
            padding: 0 20px;
        }
        .form input {
           
            display: block;
            margin-top: 20px;
         }
         .form-adress {
             margin: auto;
         }
         .form br {
             display: none;
         }
    }


